body{
    background: #1e555c;
    color: white;
    font-size: 30px;
    margin:0;
    padding:0;
    box-sizing: border-box;    
    
}

#container_general{
    height: 100vh;
    margin: auto;
    padding:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#container_timer1{
    display: flex;
    width: 500px;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}

.container_length{
    display: flex;
    justify-content: center;
}
button{
    border: none;
    background: none;
    outline: none;
    color: white;
    margin: 5px;
    cursor: pointer;
}

#container_timer2{
    border: 7px solid #13353a;
    border-radius: 50px;
    margin: 20px auto 10px auto;
    width: 270px;
    height: 250px;
}

#time-left{
    font-size: 80px;
}